# --- Virtual Environments & Local Setup ---
.venv/
env/
.env


# --- Python & Build Artifacts ---
__pycache__/
libraries/__pycache__/

# --- Testing & Code Quality ---
OnSetupInfo_2.txt
new.py
info/
